:root {
  --page-padding: 1.5rem;
  --page-margin: 1.5rem;
  --page-gap: 1.5rem;
  --page-height: calc(100vh - var(--page-padding) * 2);

  --popup-min-width: 24rem;
  --popup-max-width: 48rem;
  --popup-min-height: 16rem;
  --popup-max-height: 75vh;

  --input-max-width: 24.5rem;

  --select-max-width: 12.5rem;

  --card-max-width: 22.5rem;
  --card-max-height: 12.75rem;
  --card-min-height:11.25rem;
  --card-description-max-height: 3.75rem;
  --card-tags-max-height: 4.25;

  --preferens-max-width: 22rem;

  --popup-dragdrop-min-width: 31.25rem;
}